.button {
    background-color:#fcbe0c;
    color: white;
    /* filter: drop-shadow(0 0 5px #fcbe0c); */
    /* outline: invert; */
    box-shadow: #0c40fc;
    border: navajowhite;
    height: 45px;
    width: 90px;
    border-radius: 10px;
    font-weight: 60px;
    font-size: 19px;
    cursor: pointer;
}

.button:hover {
    background-color: #ffa500; 
    color: white;
}